body {
    font-family: 'Aclonica' !important;
    cursor: pointer;
    margin: 0 !important;
    padding: 0 !important;
}

.navbar-brand {
    font-size: 40px !important;
    font-family: 'Aclonica' !important;
    color: black !important;
    font-weight: bold !important;
}

.nav-item {
    color: black !important;
}

.nav-link {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    color: black !important;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.nav-link:hover {
    color: rgb(219, 33, 33) !important;
    font-weight: bold;
    border-bottom: 2px solid rgb(219, 33, 33) !important;
}

.nav-link:active {
    color: rgb(241, 218, 12) !important;
    font-weight: bold;
}


.top{
    position: fixed;
    top: 600px;
    left: auto;
    float: right !important;
}

.top i{
    font-size: 30px;
}


/* // for large screen  */

@media only screen and (min-width: 600px) {
    body {
        background-color: lightblue;
    }
    .nav-item {
        margin-left: 80px !important;
    }
    .welcome_quotes div p {
        font-size: 30px;
    }
    .profile-image {
        width: 280px;
        height: 300px;
    }
    .top{
        left: 20px;
        top: 550px;
    }
}

.profile-image img {
    border-radius: 50% 50%;
    width: 100%;
    height: 100%;
    /* padding: 20; */
    /* margin: 0; */
}

.welcome_quotes {
    /* background-color: rgb(197, 191, 191); */
    width: 40%;
}

.welcome-text {
    width: 60%;
}

.social-icons i {
    font-size: 25px;
    margin-left: 8px;
}

.bi-google {
    color: #4285F4;
}

.bi-linkedin {
    color: #0077b5 !important;
}
.skills{
    width: 60%;
    height: auto;
}
.skills div{
    text-align: center;
    padding: 15px;
}
.skills div i{
    font-size: 80px;
    padding: 20px;
    color: rgb(104, 100, 100);
}


/* for vertical-line */

.vertical_line {
    border-left: 10px solid rgb(236, 16, 163) !important;
    /* width: 100%; */
    height: 70px !important;
}

.services-div{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.services {
    width: 330px !important;
    height: 260px !important;
    border: 2px solid black;
    margin: 20px;
    padding: 15px;
    background-color: rgb(37, 35, 35);
    border-radius: 20px;
    color: rgb(167, 160, 160);
    cursor: pointer;
}

.services:hover{
    background-color: black;
    color: whitesmoke !important;
}

.services i {
    font-size: 100px;
}

.projects-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap !important;
}
.projects-div div{
    margin: 20px;
}
.card img{
    height: 200px;
}
.card:hover{
    border: 20px solid rgb(51, 59, 51) !important;
    color: green;
}
.card-body a i{
    font-size: 30px;
    margin-left: 10px;
}
 
.welcome-text button{
    margin: 3px;
}

/* // Small screenn css */
@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
    .services{
        width: 80% !important;
        height: 260px !important;
        border: 2px solid black;
        padding: 10px;
    }

    /* css to hide my img for small screen  */
    .profile-image{
        display: none; 
    }
    

    .welcome-text{
        width: 100%;
    }
    .nav-link {
        font-size: 16px;
    }
    .skills{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .skills div i{
        font-size: 60px !important;
    }

}
.bi-pen {
    font-size: 50px !important;
}

.fa-copyright{
    font-size: 20px !important;
    cursor: pointer !important;
}

.fa-html5{
    color: #e34c26 !important;
}
.fa-css3-alt{
    color: #264de4 !important;
}
.fa-bootstrap{
    color:  #563d7c !important;
}
.fa-js{
    color: #f0db4f !important;
}
.fa-react{
    color: #61DBFB !important;
}
.fa-node{
    color: #303030 !important;
}
.fa-docker{
    color: #0db7ed !important;
}